kind: Service
apiVersion: v1
metadata:
  name: hlds
  namespace: half-life
spec:
  selector:
      app: hlds
  ports:
  - protocol: UDP
    port: 27020
    targetPort: 27020
    name: hltv
  - protocol: UDP
    port: 27015
    targetPort: 27015
    name: hdls
  - protocol: UDP
    port: 26900
    targetPort: 26900
    name: vac
  type: LoadBalancer
